/********* Bottles *********/
.bottle {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 1fr;
  background-color: #000;
  border-bottom: #f6e59d solid 0.1875rem;
  min-width: 20%;
}

.bottle-img {
  grid-area: 1/1/3/2;
  justify-self: center;
  padding: 0.625rem;
  max-height: 98vh;
  max-width: 84%;
  height: min-content;
  width: auto;
}

/* modal button */
.bottle-modal {
  /* row start/col start/row end/col end */
  grid-area: 1/1/2/2;
  justify-self: end;
  /* width: 60%; */
  height: 2.8125rem;
  margin: 5.5rem 1.5rem 1rem 4.75rem;
  background-color: #f6e59d;
}

/* ******** Keystone Button ******** */
.keystone-divider {
  background: url("../assets/keystone-divider.png")no-repeat center top; 
  display: grid;
  /* row start/col start/row end/col end */
  grid-area: 2/1/3/2;
  padding-top: 0.875rem;
  font-size: 0.9375rem;
  white-space: pre-wrap;
  line-height: 0.9375rem;
  box-shadow:none;
}

.keystone-text {
  margin-top: 10px;
  grid-area: 2/1/3/2;
}

.bottle-divider {
  background-color: #f6e59d;
  /* row start/col start/row end/col end */
  grid-area: 2/1/2/2;
  opacity: 1;
  margin: 0;
  /* border: 2px solid #f6e59d; */
  /* width: 2px; */
}

/* bottle-divider 2 */
#bd-2 {
  margin-top: 50px;
}

/* CSS SHAPE attempt */

/* .keystone-top {
  grid-area: 2/3/3/2;
  width: 20vh;
  border-top: 8vw solid #f6e59d;
  border-left: 3vw solid transparent;
  border-right: 3vw solid transparent;
  align-self: end;
  justify-self: center;
}
.keystone {
  grid-area: 3/3/4/2;
  border-left: 5vw solid transparent;
  border-right: 5vw solid transparent;
  border-top: 20vw solid #f6e59d;
  align-self: baseline;
} */