.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/********* NAVBAR *********/

.navbar {
  background-color: black;
  color: white;
}

/* ******** Navbar Toggler to X ******** */
/* https://stackoverflow.com/questions/37758887/animated-x-icon-for-bootstrap-toggle/64265878#64265878 */

.navbar-toggler span {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
}

.navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg) ;
}

.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg) ;
}

.navbar-toggler span:nth-child(2) {
  opacity: 1;
}
.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg) ;
}

/* ******** Carousel ******** */
.item.next .carousel-caption {
  opacity: 0;
}

.car-img {
  /* width: 100%; */
}

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=PT+Sans+Narrow:wght@400;700&display=swap");

.carousel-caption {
  position: absolute;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  font-family: "PT Sans Narrow", sans-serif;
  top: 20%;
  left: 0 !important;
  right: 0 !important;
  margin-bottom: 12.25rem;
  padding-top: 1.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background: rgba(66, 44, 7, 0.8);
}

#bold {
  font-weight: 900;
  margin-bottom: -0.5625rem;
}

.red-break {
  background-color:  #c5262e;
  height: 0.15rem !important;
  opacity: 1;
}

.cursive {
  font-family: "Lobster", cursive;
  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
} */

.founders {
  /* text-align: center; */
  background: url(assets/founders.jpg) no-repeat;
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; */
}

/********* Whiskey *********/
.whiskey {
  background: url(assets/whiskey-text.jpg) no-repeat;
  /* grid-column: ; */
  background-color: #000;
}

/********* Bottles *********/
.bottle {
  max-width: 20% !important;
  /* display: flex; */
  /* flex-flow: row-wrap; */
}

.bottle-img {
  max-width: 100%;
  max-height: 100%;
  /* display: block; */
}

/* ******** Media Queries ********* */

@media (min-width: 20em) {
  .row {
    height: 34em;
  }
  .car-img {
    height: 34em;
    /* text-align: center; */
  }
  #spirit {
    margin-left: 26%;
    transform: translateX(-50%);
  }

  #rye-delivered {
    margin-left: 90%;
    transform: translateX(-50%);
  }
}
